<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Editing <%= @edit_dojo.branch %></h1>
        <form action='/dojos/<%= @edit_dojo[:id] %>' method='post'>
            <input type="hidden" name="_method" value="patch">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <p>Branch: <input type='text' name='dojo[branch]'></p>
            <p>Street: <input type='text' name='dojo[street]'></p>
            <p>City: <input type='text' name='dojo[city]'></p>
            <p>State: <input type='text' name='dojo[state]'></p>
            <input type='submit' value='update'>
        </form>
        <p><a href='/'>Home</a> | <a href='/dojos/<%= @edit_dojo.id %>'>Show</a></p>
    </body>
</html>